@using EPiServer.Core
@using Ignobilis.Business
@using Ignobilis.Models.Pages
@model IPageViewModel<IB_BasePage>

    <nav id="main-menu">
        <div>
            @foreach (var item in IgnobilisService.Instance.Settings.Functionality.MainMenu.Load(Model.SettingsPage.MainMenu))
            {
                if (IgnobilisService.Instance.Settings.Functionality.MainMenu.LocatedInMenu(Model.CurrentPage, item))
                {
                    <a class="active" href="@item.PageLink.Url()">
                        <span>@item.Name</span>
                        @if (item.Property["Puff"].Value != null) 
                        {
                            <br/>
                            <span>@item.Property["Puff"].Value</span>
                        }
                    </a>
                }
                else
                {
                    <a href="@item.PageLink.Url()">
                        <span>@item.Name</span>
                        @if (item.Property["Puff"].Value != null)
                        {
                            <br />
                            <span>@item.Property["Puff"].Value</span>
                        }
                    </a>
                }
            }
        </div>
    </nav>
