@using Ignobilis.Business
@model Ignobilis.Models.Blocks.IB_PuffBlock


<div class="puff">
    <strong>@Model.Header</strong>

    @if (Model.Image != null)
    {
        <img src="@Url.ContentUrl(Model.Image)"/>
    }
    <div class="helper">
        @Model.Description

        @if (Model.Links != null)
        {
            foreach (var item in Model.Links.ToPages())
            {
                <a href="@Url.ContentUrl(item.PageLink)">@item.PageName</a>
            }
        }
    </div>
</div>


